*.iml
/.gradle
/.idea
/.DS_Store
/build
/gradle
/captures
/projectFilesBackup
/local.properties
/gradle.properties
/gradlew
/iradlew.bat
/app/build
/app/libs
/app/src/test/
/app/src/androidTest/
.externalNativeBuild
.cxx

/build.gradle
/gradlew.bat
/settings.gradle
/app/libs/
/app/build.gradle
/app/src/androidTest
/app/src/main/res
/app/proguard-rules.pro
